//- ====================
//- 【概要】トップページ
//- 【詳細】
//- ====================
//- テンプレート
extends ../../pug/layouts/_layout.pug

//- 現在のページ
block currentPage
  - var currentPage = 'sd_sample'
  - var dirPath = self.htmlWebpackPlugin.options.dirPath
  - var domain = self.htmlWebpackPlugin.options.domain
  -
    var pageInfo = {
      url_path: `sd-sample/`, //- canonicalで使用
      title: 'sd-sample', //- ページタイトル
      description: '', //- ディスクリプション 120文字以内に収めるのが良い
      bodyClass: 'sd-sample',
      ogp_title: '', //- [OGP]ページのタイトル
      ogp_type: '', //- [OGP]ページのタイプ トップページに「website」、ブログに「blog」、下層ページに「article」
      ogp_url: `${domain}`, //- [OGP]ページのURL（フルパス）
      ogp_description: '', //- [OGP]ページのディスクリプション
    }

  //- データの利用
  -
    let data_obj = {
      data: require('../../pug/data/_data.js'),
    }
    

//- HTML(body要素内)
block content
  //- ヘッダー
  include ../../pug/include/_header.pug
  +header( currentPage )
  //- メイン
  main
    h1 sd-sample ページ

    each item in data_obj.data
      p
        span #{item.date}
        | #{item.title}
    div(style="margin-top: 100px;")
      each data in data_obj.data
        include ../../pug/include/_sd_sample.pug
        +sdSample( data )
      
  //- フッター
  include ../../pug/include/_footer.pug
  +footer( currentPage )
