@charset "UTF-8";
// ==============================================
// [ファイル概要] デザインカンプの情報
// ==============================================
$D_COMP_COL: 84px !default;  // カラム
$D_COMP_GUTTER: 20px !default;  // ガター
$D_COMP_SIDE: $D_COMP_GUTTER/2 !default;  // サイドの空白（ガターの1/2）
