@charset "UTF-8";
// ==============================================
// [ファイル概要] カラー
// ==============================================

// **********
// 変数
// **********
// SNSカラー
$C_SNS_TW: #55acee !default;
$C_SNS_FB: #315096 !default;
$C_SNS_LINE: #00c300 !default;

// デフォルトのフォントカラー
$C_FONT: #000 !default;

// テーマカラー
$C_THEME: #000 !default;

// その他
$C_GRAY: #444 !default;
